<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>sci论文添加————论文认领系统</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../../css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form layui-row layui-col-space10">
	<div class="layui-form-item">
		<label class="layui-form-label">wos号</label>
		<div class="layui-input-inline">
			<input type="text" name="accession_number" required  lay-verify="required" placeholder="请输入论文wos号" autocomplete="off" class="layui-input">
		</div>
		<div class="layui-form-mid layui-word-aux">该号码为文章的唯一标识</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">标题</label>
		<div class="layui-input-block">
			<input type="text" name="title" required lay-verify="required" placeholder="请输入论文标题" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">作者</label>
		<div class="layui-input-block">
			<input type="text" name="author" required lay-verify="required" placeholder="请输入论文作者" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">来源</label>
		<div class="layui-input-block">
			<input type="text" name="source" required lay-verify="required" placeholder="请输入论文来源" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">文章类型</label>
		<div class="layui-input-block">
			<input type="text" name="article_type" required lay-verify="required" placeholder="请输入论文文章类型" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">通讯作者</label>
		<div class="layui-input-block">
			<input type="text" name="address" required lay-verify="required" placeholder="请输入论文通讯作者" autocomplete="off" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">电子邮箱</label>
		<div class="layui-input-block">
			<input type="text" name="email" required lay-verify="required" placeholder="请输入论文电子邮箱" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">作者单位</label>
		<div class="layui-input-block">
			<textarea type="text" name="organization" required lay-verify="required" placeholder="请输入论文作者单位" autocomplete="off" class="layui-textarea"></textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">引用次数</label>
		<div class="layui-input-block">
			<input type="text" name="quite_time" required lay-verify="required" placeholder="请输入论文引用次数" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">中科院分区</label>
		<div class="layui-input-inline">
			<select name="zk_type" id="" lay-verify="required">
				<option value=""></option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
		</div>

		<label class="layui-form-label">所属大类</label>
		<div class="layui-input-inline">
			<select name="subject" id="subject" lay-verify="required" lay-verify="subject">
				<option value=""></option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">来源简写</label>
		<div class="layui-input-inline">
			<input type="text" name="source_shorthand" required lay-verify="required" placeholder="请输入论文来源简写" autocomplete="off" class="layui-input">
		</div>

		<label class="layui-form-label">页</label>
		<div class="layui-input-inline" style="width: 100px;">
			<input type="text" name="startPage" required lay-verify="required" placeholder="起始页" autocomplete="off" class="layui-input">
		</div>
		<div class="layui-form-mid">-</div>
		<div class="layui-input-inline" style="width: 100px;">
			<input type="text" name="endPage"  lay-verify="" placeholder="结束页" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">年</label>
		<div class="layui-input-inline">
			<input type="text" name="year"  lay-verify="" placeholder="请输入论文分区" autocomplete="off" class="layui-input">
		</div>

		<label class="layui-form-label">日期</label>
		<div class="layui-input-inline">
			<input type="text" name="date"  lay-verify="" placeholder="请输入奖励分值" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">卷</label>
		<div class="layui-input-inline">
			<input type="text" name="roll" required lay-verify="required" placeholder="请输入卷号" autocomplete="off" class="layui-input">
		</div>

		<label class="layui-form-label">期</label>
		<div class="layui-input-inline">
			<input type="text" name="period" required lay-verify="required" placeholder="请输入期号" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">是否Top期刊</label>
		<div class="layui-input-inline">
			<input type="checkbox" name="is_top" lay-skin="switch" lay-text="是|否">
		</div>
		<label class="layui-form-label">第一机构</label>
		<div class="layui-input-inline">
			<input type="checkbox" name="is_first_inst" lay-skin="switch" lay-text="是|否">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">是否为封面</label>
		<div class="layui-input-inline">
			<input type="checkbox" name="is_cover" lay-skin="switch" lay-text="是|否">
		</div>

		<label class="layui-form-label">影响因子</label>
		<div class="layui-input-inline">
			<input type="text" name="impact_factor" required lay-verify="required" placeholder="请输入论文分区" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">SCI分区</label>
		<div class="layui-input-inline">
			<input type="text" name="sci_type" required lay-verify="required" placeholder="请输入论文分区" autocomplete="off" class="layui-input">
		</div>

		<label class="layui-form-label">奖励分值</label>
		<div class="layui-input-inline">
			<input type="text" name="reward_point" required lay-verify="required" placeholder="请输入奖励分值" autocomplete="off" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">其他信息</label>
		<div class="layui-input-block">
			<textarea name="other_info" placeholder="请输入论文其他信息" class="layui-textarea"></textarea>
		</div>
	</div>

	
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit lay-filter="articleAdd">立即提交</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</div>

</form>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/javascript" src="sciArticleAdd.js"></script>
</body>
</html>