<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>首页--科研处管理系统</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../css/public.css" media="all" />
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote layui-bg-green">
		<div id="nowTime"></div>
	</blockquote>
	<div class="layui-row layui-col-space10 panel_box">
		<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg6">
			<a href="javascript:;" data-url="page/article/sciArticleList.html">
				<div class="panel_icon layui-bg-green">
					<i class="layui-anim seraph icon-chakan"></i>
				</div>
				<div class="panel_word">
					<span>sci论文认领</span>
					<cite></cite>
					<cite class="layui-hide">sci论文认领</cite>
				</div>
			</a>
		</div>
		<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg6 disableed">
			<a href="javascript:;" id="buttonTY" >
				<div class="panel_icon layui-bg-black">
					<i class="layui-anim seraph icon-text"></i>
				</div>
				<div class="panel_word">
					<span>他引认领</span>
					<cite></cite>
						<cite class="layui-hide">他引认领</cite>
				</div>
			</a>
		</div>
	
	
	</div>

	
	<div class="layui-row layui-col-space10">
		<div class="layui-col-lg6 layui-col-md12">
			<blockquote class="layui-elem-quote title">SCI论文认领步骤</blockquote>
			<ul class="layui-timeline" style="margin-top: 20px;">
				<li class="layui-timeline-item">
				  <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
				  <div class="layui-timeline-content layui-text">
					<h3 class="layui-timeline-title">第一步</h3>
					<p style="font-size: large;">
					  点击上面的 <span class="layui-bg-red" style="color: #FF5722;">SCI论文认领</span>按钮 ，进入论文列表页
					  
					</p>
				  </div>
				</li>
				<li class="layui-timeline-item">
				  <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
				  <div class="layui-timeline-content layui-text">
					<h3 class="layui-timeline-title">第二步</h3>
					<p style="font-size: large;"> 
						在论文列表页搜索对应的文章，点击论文后面的<span class="layui-bg-red">认领</span>按钮，进入论文认领页面
					</p>
					
				  </div>
				</li>
				<li class="layui-timeline-item">
				  <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
				  <div class="layui-timeline-content layui-text">
					<h3 class="layui-timeline-title">第三步</h3>
					<p style="font-size: large;">
						核对论文的基本信息，并完善作者的中文信息
					</p>
				  </div>
				</li>
				<li class="layui-timeline-item">
					<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
					<div class="layui-timeline-content layui-text">
					  <h3 class="layui-timeline-title">第四步</h3>
					  <p style="font-size: large;">
						  点击<span class="layui-bg-red">认领</span>按钮即可完成认领，认领成功的论文可以在左侧<em>我的论文</em>中查看
					  </p>
					</div>
				  </li>
				
			  </ul>

			  
		</div>
		<div class="layui-col-lg6 layui-col-md12">
			<blockquote class="layui-elem-quote title">他引认领</blockquote>
			<div class="layui-elem-quote layui-quote-nm magb0" style="height: 273px;">
				<p>暂未开放</p>
				<ul class="layui-timeline layui-hide" style="margin-top: 20px;">
					<li class="layui-timeline-item">
					  <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
					  <div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title">第一步</h3>
						<p style="font-size: large;">
						  点击上面的<span class="layui-bg-red" style="color: #FF5722;">他引认领</span>按钮 ，进入论文列表页
						</p>
					  </div>
					</li>
					<li class="layui-timeline-item">
					  <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
					  <div class="layui-timeline-content layui-text">
						<h3 class="layui-timeline-title">第二步</h3>
						<p style="font-size: large;"> 
							在论文列表页搜索对应的文章，点击论文后面的<span class="layui-bg-red">认领</span>按钮，即可完成认领,认领成功的论文可以在左侧<em>我的论文</em>中查看
						</p>
						
					  </div>
					</li>
					
				  </ul>
	
				
			</div>
		</div>
	</div>

	<script type="text/javascript" src="../layui/layui.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>